.main-content {
    margin-top: 55px;
    margin-left: 50px;
}

.covid-content {
    margin-top: 55px;
}

.covid {
    height: 200px;
    padding-right: 16px;
    width: 1000px;
    margin-bottom: 32px;
}

.covid-schedule {
    height: 300px;
    padding-right: 16px;
    width: 1000px;
    margin-bottom: 32px;
}



