html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'sans-serif';
    background-color: #edeef0;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}



.image-laycom {
   width: 100%;
   height: 100%;
   margin-bottom: 30px;
   margin-top: 55px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.product-item {
    height: 300px;
    margin: 30px 0 15px;
    background-color: white;
    border: 1px solid ligthgray;
    position: relative;
    padding: 15px;
    text-align: center;
}

.product-item-img {
    max-height: 160px;
}

.product-item-text {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}


.product-image {
    margin: 20px;
}

.form-group {
    padding: 5px;
}

.discount-container {
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-width: 800;
    padding: 4px;

}

.section-shipping {
	position: relative;
	width: 100%;
}

.section-delivery {
    position: absolute;
	top	: 200px;
	left: 10%;
	width: 100%;
}

.section-delivery-span {
    color: white;
	font: bold 50px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}

.container-product {
    margin-top: 100px;
}

.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}


.product-tabs {
    padding: 10px;
}

.basket-container {
    position: relative;
    width: 300px;
}

.basket-items {
    position: absolute;
    top: 50px;
    width: 300px;
    background-color: #F5F5F5;
    z-index: 10;
    padding: 10px;
    font-size: 12px;
}

.delete-item {
    color: red;
}

.order-total-price {
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 10px;
}
